@font-face
{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/y7lebkjgREBJK96VQi37ZobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

@keyframes fadein
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes delayed-fadein
{
    0% { opacity: 0; }
    50% {opacity: 0;}
    100% { opacity: 1; }
}

body
{
    background: #ede8d7;
    font-family: 'Roboto Slab', Georgia, serif;
}

/***** layout. *****/

.container
{
    margin-top: 5px;
    text-align: center;
}

.grid, footer, .how-to-play
{
    margin-top: 15px;
    text-align: left;
}

.grid-cell
{
    padding-bottom: 8.3333%; /*forces it to be square.*/
}

.grid-cell-member
{
    position: absolute;
    height: 95%;
    width: 95%;
    border-radius: 5px;
    background-size: 100%;
    margin-left: -15px;
}

.message-box
{
    padding: 10px;
}

/***** dog icons. *****/

.link-id-1  { background-image: url("../images/dogs/afghan-hound.png"); }
.link-id-2  { background-image: url("../images/dogs/australian-cattle-dog.png"); }
.link-id-3  { background-image: url("../images/dogs/basset-hound.png"); }
.link-id-4  { background-image: url("../images/dogs/boston-terrier.png"); }
.link-id-5  { background-image: url("../images/dogs/bulldog.png"); }
.link-id-6  { background-image: url("../images/dogs/cardigan-welsh-corgi.png"); }
.link-id-7  { background-image: url("../images/dogs/chihuahua.png"); }
.link-id-8  { background-image: url("../images/dogs/dachshund.png"); }
.link-id-9  { background-image: url("../images/dogs/dalmatian.png"); }
.link-id-10 { background-image: url("../images/dogs/doberman-pinscher.png"); }
.link-id-11 { background-image: url("../images/dogs/english-foxhound.png"); }
.link-id-12 { background-image: url("../images/dogs/german-shepherd.png"); }
.link-id-13 { background-image: url("../images/dogs/golden-retriever.png"); }
.link-id-14 { background-image: url("../images/dogs/irish-setter.png"); }
.link-id-15 { background-image: url("../images/dogs/italian-greyhound.png"); }
.link-id-16 { background-image: url("../images/dogs/jack-russell-terrier.png"); }
.link-id-17 { background-image: url("../images/dogs/komondor.png"); }
.link-id-18 { background-image: url("../images/dogs/mini-poodle.png"); }
.link-id-19 { background-image: url("../images/dogs/pomeranian.png"); }
.link-id-20 { background-image: url("../images/dogs/pug.png"); }
.link-id-21 { background-image: url("../images/dogs/saint-bernard.png"); }
.link-id-22 { background-image: url("../images/dogs/schnauzer.png"); }
.link-id-23 { background-image: url("../images/dogs/scottish-terrier.png"); }
.link-id-24 { background-image: url("../images/dogs/shiba-inu.png"); }
.link-id-25 { background-image: url("../images/dogs/siberian-husky.png"); }
.link-id-26 { background-image: url("../images/dogs/peanut.png"); }

/***** other icons. *****/

.cage           { background-image: url("../images/cage.png"); }
.field          { background-image: url("../images/field.png"); }
.hit            { background-image: url("../images/hit.png"); }
.mark           { background-image: url("../images/mark.png"); }
.reflection     { background-image: url("../images/arrow.png"); }
.snipe          { background-image: url("../images/snipe.png"); }
.tutorial-snipe { background-image: url("../images/snipe.png"); }
.used           { background-image: url("../images/huh.png"); }

.snipes-revealed-false .cage,
.snipes-revealed-false .mark,
.snipes-revealed-false .used.false
{
    cursor: pointer;
}

/***** toggling animations. *****/

.hit,
.mark,
.passed-through,
.reflection
{
    transition: opacity 0.5s;
}

.hit.false,
.mark.false,
.passed-through.false,
.reflection.false,
.used.true
{
    opacity: 0;
}

.hit.true,
.mark.true,
.passed-through.true,
.reflection.true,
.used.false
{
    opacity: 1;
}

.used.true
{
    opacity: 0;
}

.used.false
{
    opacity: 1;
}

.cage.true
{
    background-repeat: no-repeat;
    background-position: 0px 0px;
    transition: background-position 1s;
}

.cage.false
{
    background-repeat: no-repeat;
    background-position: 0px -100px;
    transition: background-position 1s;
}

.snipe.revealed-false,
.snipe.false
{
    opacity: 0;
}

.snipe.true.revealed-true
{
    opacity: 1;
    transition: opacity 3s;
}

/***** reflection icon rotations. *****/

.reflection.true.east
{
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.reflection.true.south
{
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.reflection.true.west
{
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}

/***** shrink question marks on hover. *****/

.used
{
    background-size: 100%;
    background-repeat: no-repeat;

    transition: background-size .25s, opacity .5s;
}

.snipes-revealed-false .used:hover
{
    background-size: 50%;
}

.used.north
{
    background-position: top center;
}

.used.east
{
    background-position: center right;
}

.used.south
{
    background-position: bottom center;
}

.used.west
{
    background-position: center left;
}

/***** pointer icons. *****/

.pointer
{
    width: 100%;
    height: 100%;

    background-size: 0%;
    background-image: url("../images/pointer.png");
    background-repeat: no-repeat;
    background-position: bottom center;

    transition: background-size .25s;
}

.snipes-revealed-false .pointer:hover,
.snipes-revealed-false .used:hover .pointer /* for chrome */
{
    background-size: 50%;
}

.pointer.east
{
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.pointer.south
{
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.pointer.west
{
    transform: rotate(270deg) rotateY(180deg);
    -ms-transform: rotate(270deg) rotateY(180deg);
    -webkit-transform: rotate(270deg) rotateY(180deg);
}

/***** messages. *****/

.message.snipes-revealed-true
{
    animation-duration: 3s;
    animation-name: delayed-fadein;
}

/***** tutorial mode stuff. *****/

.tutorial-snipe.tutorial-mode-false,
.tutorial-snipe.false
{
    opacity: 0;
    transition: opacity .5s;
}

.tutorial-snipe.true.tutorial-mode-true
{
    opacity: .5;
    transition: opacity .5s;
}

.tutorial-snipe.snipe-caused-reflection,
.tutorial-snipe.snipe-caused-redirection
{
    border: 1px solid #FFA500;
    box-shadow: 0 0 2px 3px #FFA500;
}

.tutorial-snipe.snipe-caused-hit
{
    border: 1px solid #005AFF;
    box-shadow: 0 0 2px 3px #005AFF;
}

.beam.tutorial-mode-false
{
    opacity: 0;
}

.beam.tutorial-mode-true
{
    opacity: 1;
    animation: fadein;
    animation-duration: 1s;
}

.beam-south,
.beam-west,
.beam-north,
.beam-east
{
    background-image: url("../images/beam.gif");
}

.beam-southToEast,
.beam-westToSouth,
.beam-northToWest,
.beam-eastToNorth
{
    background-image: url("../images/beam-left-turn.gif");
}

.beam-southToWest,
.beam-westToNorth,
.beam-northToEast,
.beam-eastToSouth
{
    background-image: url("../images/beam-right-turn.gif");
}

.beam-reflectionSouthToNorth,
.beam-reflectionWestToEast,
.beam-reflectionNorthToSouth,
.beam-reflectionEastToWest
{
    background-image: url("../images/beam-reflection.gif");
}

.beam-west,
.beam-westToSouth,
.beam-westToNorth,
.beam-reflectionWestToEast
{
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.beam-north,
.beam-northToWest,
.beam-northToEast,
.beam-reflectionNorthToSouth
{
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.beam-east,
.beam-eastToNorth,
.beam-eastToSouth,
.beam-reflectionEastToWest
{
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}
