*, *:before, *:after
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.grid
{
    line-height:0;
}

.grid-cell
{
    display:inline-block;
    position:relative;
    width:100px;
    height:100px;
    margin:5px;
    background-color:#ddd;
}

.grid-cell-member
{
    position:absolute;
    width:100%;
    height:100%;
}

.snipes-visible-true .snipe-true
{
    background-image:url("../images/snipe.png");
    animation-duration: 3s;
    animation-name: fadein;
}

@keyframes fadein
{
    from
    {
        opacity:0;
    }

    to
    {
        opacity:1;
    }
}

.cage-true
{
    background-image:url("../images/cage.png");
}

.mark-true
{
    background-color:#eaa;
}
