<button ng-click="ctrl.startNewGame()">New Game</button>

<button ng-click="ctrl.revealSnipes()" ng-if="!ctrl.getSnipesVisible()">Reveal Snipes</button>

<p><img src="images/cage.png" alt="Cages"/> x {{ctrl.getAvailableCages()}}</p>

<div class="grid snipes-visible-{{ctrl.getSnipesVisible()}} fresh-game-{{ctrl.getFreshGame()}}">
    <div class="grid-row" ng-repeat="(rowNum, row) in ctrl.getGrid()">
        <div class="grid-cell" ng-repeat="(colNum, cell) in row">

            <div ng-if="cell.hasOwnProperty('snipe')"
                class="grid-cell-member field">
            </div>

            <div ng-if="cell.hasOwnProperty('snipe')"
                class="grid-cell-member snipe-{{cell.snipe}}">
            </div>

            <div ng-if="cell.hasOwnProperty('cage')"
                class="grid-cell-member cage-{{cell.cage}}">
            </div>

            <div ng-if="cell.hasOwnProperty('mark')"
                class="grid-cell-member mark-{{cell.mark}}"
                ng-click="ctrl.toggleCage(rowNum, colNum)"
                ng-right-click="ctrl.toggleMark(rowNum, colNum)">
            </div>

            <div ng-if="cell.hasOwnProperty('hit')"
                class="grid-cell-member hit-{{cell.hit}} reflection-{{cell.reflection}} passed-through-{{cell.passedThrough}} link-id-{{cell.linkId}}">
            </div>

            <div ng-if="cell.hasOwnProperty('used')"
                class="grid-cell-member used-{{cell.used}}"
                ng-click="ctrl.turnOnLight(rowNum, colNum)">
            </div>

            <div ng-if="cell.hasOwnProperty('empty')"
                class="grid-cell-member">
            </div>

        </div>
    </div>
</div>
