<div class="row">
    <div class="col-sm-3">
        <div class="row">
            <button ng-click="ctrl.startNewGame()" class="btn btn-info">New Game</button>
        </div>

        <div class="row">
            <button ng-click="ctrl.toggleTutorialMode()" class="btn btn-info">
                <span ng-if="ctrl.isTutorialMode()">Tutorial mode is on.</span>
                <span ng-if="!ctrl.isTutorialMode()">Tutorial mode is off.</span>
            </button>
        </div>
    </div><!--

    --><div class="col-sm-6 bg-info message-box">
        <span class="message lead snipes-visible-{{ctrl.getSnipesVisible()}} caught-all-{{ctrl.getSnipesVisible()}}">
            &#9753; {{ctrl.getMessage()}} &#10087;
        </span>
    </div><!--

    --><div class="col-sm-3">
        <button ng-click="ctrl.revealSnipes()" ng-disabled="ctrl.getSnipesVisible()" class="btn btn-lg"
                ng-class="ctrl.getSnipesVisible() ? 'btn-info' : (ctrl.getAvailableCages() === 0 ? 'btn-success' : 'btn-danger')">
            Reveal Snipes
            <br/>
            (Cages remaining: {{ctrl.getAvailableCages()}})
        </button>
    </div>
</div>

<div class="grid fresh-game-{{ctrl.isFreshGame()}} snipes-visible-{{ctrl.getSnipesVisible()}}">
    <div class="row" ng-repeat="(rowNum, row) in ctrl.getGrid()">
        <div class="col-xs-1 grid-cell" ng-repeat="(colNum, cell) in row"
        ng-class="colNum === 0 ? 'col-xs-offset-2' : ''">

            <div ng-if="cell.isAField"
                class="grid-cell-member field">
            </div>

            <div ng-repeat="(beamDirection, _) in cell.beams"
                ng-if="ctrl.isTutorialMode()"
                class="grid-cell-member beam-{{beamDirection}}">
            </div>

            <div ng-if="cell.isAField"
                class="grid-cell-member snipe-{{cell.snipe}} visible-{{ctrl.getSnipesVisible()}}">
            </div>

            <div ng-if="cell.isAField"
                class="grid-cell-member tutorial-mode-{{ctrl.isTutorialMode()}} snipe-caused-hit-{{cell.snipeCausedHit}} snipe-caused-reflection-{{cell.snipeCausedReflection}} snipe-caused-redirection-{{cell.snipeCausedRedirection}}">
            </div>

            <div ng-if="cell.isAField"
                class="grid-cell-member cage-{{cell.cage}}">
            </div>

            <div ng-if="cell.isAField"
                class="grid-cell-member mark-{{cell.mark}}"
                ng-click="ctrl.toggleCage(rowNum, colNum)"
                ng-right-click="ctrl.toggleMark(rowNum, colNum)">
            </div>

            <div ng-if="cell.isALight"
                class="grid-cell-member hit-{{cell.hit}} reflection-{{cell.reflection}} passed-through-{{cell.passedThrough}} link-id-{{cell.linkId}}">
            </div>

            <div ng-if="cell.isALight"
                class="grid-cell-member used-{{cell.used}}"
                ng-click="ctrl.turnOnLight(rowNum, colNum)">
            </div>

            <div ng-if="cell.isEmpty"
                class="grid-cell-member">
            </div>
        </div>
    </div>
</div>

<footer>
    <ul class="list-unstyled">
        <li><a href="http://github.com/mtdavis/snipehunt">View Source on GitHub</a></li>
        <li><a href="http://shelzie.deviantart.com/gallery/824381">Dog Icons by shelzie</a></li>
    </ul>
</footer>
